body {
  margin: 0;
  background: #000;
  color: #fff;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: monospace;
}

canvas {
  vertical-align: middle;
}

#info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0.3;
}

#info > a {
  color: inherit;
}

#enterVR {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  opacity: 0.3;
  pointer-events: none;
  text-transform: uppercase;
}

#renderer {
  width: 100vw;
  height: 100vh;
}

#support.supported {
  color: #3f3;
}

#support.unsupported {
  color: #f33;
}
